schemas/EMIR_auth.108.001.01_FCAUG_DATMDA_1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: Financial Conduct Authority
Collection: EMIR Refit - Incoming Messages - FINAL - V1.0
Usage Guideline: auth.108.001.01_FCAUG_DATMDA_1.0.0
Base Message: auth.108.001.01
Date of publication: 20 April 2023
URL: https://www2.swift.com/mystandards/#/mp/mx/_MzwZwJZFEe23Lve-6NzfEg/_MzxA0ZZFEe23Lve-6NzfEg
Description: The DerivativesTradeMarginDataReport message is sent by the report submitting entity to the trade repository (TR) to report the margins exchanged in relation to the derivative transactions or sent by the trade repository (TR) to the authority or made available by the trade repository (TR) to the report submitting entity and the reporting counterparty as well as the entity responsible for reporting, if applicable.


Generated by the MyStandards web platform [https://www.swift.com/mystandards] on 2023-04-20T15:48:13+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.108.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.108.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAnd5DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="25"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAnd5DecimalAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveOrHistoricCurrencyAnd5DecimalAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active or a historic currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAnd5DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="CollateralPortfolioCode5Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CollateralPortfolioCode5Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the unique codes identifying the portfolio.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Prtfl" type="PortfolioCode3Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Portfolio</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the unique code assigned by the reporting counterparty to the portfolio if the collateral is posted on a portfolio basis.&#13;
&#13;
Usage:&#13;
NoPortfolio is reported if the collateralisation was performed on a transaction level basis, or if there is no collateral agreement or if no collateral is posted or received.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CollateralisationType3Code__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CollateralisationType3Code__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of collateral agreement between two parties.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="FLCL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FullyCollateralised</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The collateral agreement between the counterparties stipulates that both counterparties post initial margin and regularly post variation margin with respect to the derivative transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OWC1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OneWayCollateralisedCounterparty1</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The collateral agreement between the counterparties stipulates that the reporting counterparty posts the initial margin and regularly posts variation margin and that the other counterparty does not post any margin with respect to the derivative transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OWC2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OneWayCollateralisedCounterparty2</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The collateral agreement between the counterparties stipulates that the other counterparty posts the initial margin and regularly posts variation margin and that the reporting counterparty does not post any margin with respect to the derivative transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OWP1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OneWayPartiallyCollateralisedCounterparty1</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The collateral agreement between the counterparties stipulates that the reporting counterparty posts the initial margin and regularly posts variation margin and that the other counterparty regularly posts only variation margin. </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OWP2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OneWayPartiallyCollateralisedCounterparty2</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The collateral agreement between the counterparties stipulates that the other counterparty posts the initial margin and regularly posts variation margin and that the reporting counterparty regularly posts only variation margin.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PRCL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartiallyCollateralised</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The collateral agreement between the counterparties stipulates that both counterparties regularly post only variation margin with respect to the derivative transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PRC1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartiallyCollateralisedCounterparty1</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The collateral agreement between the counterparties stipulates that the reporting counterparty regularly  posts only variation margin and that the other counterparty does not post any margin with respect to the derivative transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PRC2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartiallyCollateralisedCounterparty2</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The collateral agreement between the counterparties stipulates that the other counterparty regularly posts only variation margin and that the reporting counterparty does not post any margin with respect to the derivative transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UNCL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Uncollateralised</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">There is no collateral agreement between the counterparties or the collateral agreement between the counterparties stipulates that no collateral (neither initial margin nor variation margin) has to be posted with respect to the derivative transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Counterparty45__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Counterparty45__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to counterparty identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification248Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique code identifying the reporting counterparty of the contract.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Counterparty46__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Counterparty46__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to counterparty identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="IdTp" type="PartyIdentification248Choice__2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IdentificationType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates if the counterparty is a legal entity or a natural person.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Counterparty46__2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Counterparty46__2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to counterparty identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="IdTp" type="PartyIdentification248Choice__2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IdentificationType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates if the counterparty is a legal entity or a natural person.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DerivativesTradeMarginDataReportV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DerivativesTradeMarginDataReportV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The DerivativesTradeMarginDataReport message is sent by the report submitting entity to the trade repository (TR) to report the margins exchanged in relation to the derivative transactions or sent by the trade repository (TR) to the authority or made available by the trade repository (TR) to the report submitting entity and the reporting counterparty as well as the entity responsible for reporting, if applicable.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RptHdr" type="TradeReportHeader4__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Header information related to metadata of report message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TradData" type="TradeData55Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradeData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Set of data concerning the reporting trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="DerivsTradMrgnDataRpt" type="DerivativesTradeMarginDataReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification175__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification175__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max72Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification175__2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification175__2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max52Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LEIIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Legal Entity Identifier is a code allocated to a party as described in ISO 17442 "Financial Services - Legal Entity Identifier (LEI)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LegalPersonIdentification1__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LegalPersonIdentification1__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the identification of the organisation which is a legal person.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="OrganisationIdentification15Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of the legal person.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarginCollateralReport4__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MarginCollateralReport4__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Details of margin collateral agreement between counterparties.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CollPrtflCd" type="CollateralPortfolioCode5Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CollateralPortfolioCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the unique code assigned by the reporting counterparty to the portfolio if the collateral is posted on a portfolio basis.&#13;
&#13;
Usage:&#13;
NoCode is reported if the collateralisation was performed on a transaction level basis, or if there is no collateral agreement or if no collateral is posted or received.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CollstnCtgy" type="CollateralisationType3Code__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CollateralisationCategory</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the type of collateral agreement existing between the counterparties.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TmStmp" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TimeStamp</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the date and time of the last collateral amount determination or calculation.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarginReportData7__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MarginReportData7__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the details of the margin data.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RptgTmStmp" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportingTimeStamp</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time of submission of the report to the trade repository.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CtrPtyId" type="TradeCounterpartyReport20__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CounterpartyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Data specific to counterparties and related fields.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EvtDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date on which the reportable event pertaining to the transaction and captured by the report took place.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TxId" type="UniqueTransactionIdentifier2Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Choice between a Unique Transaction Identifier (UTI) or a proprietary identifier as agreed with the counterparty. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Coll" type="MarginCollateralReport4__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Collateral</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information related to collateral agreement existing between counterparties.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstdMrgnOrColl" type="PostedMarginOrCollateral6__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostedMarginOrCollateral</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information on posted collateral and margin.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RcvdMrgnOrColl" type="ReceivedMarginOrCollateral6__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReceivedMarginOrCollateral</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information on received collateral and margin.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarginReportData7__2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MarginReportData7__2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the details of the margin data.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RptgTmStmp" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportingTimeStamp</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time of submission of the report to the trade repository.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CtrPtyId" type="TradeCounterpartyReport20__2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CounterpartyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Data specific to counterparties and related fields.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EvtDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date on which the reportable event pertaining to the transaction and captured by the report took place.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TxId" type="UniqueTransactionIdentifier2Choice__2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Choice between a Unique Transaction Identifier (UTI) or a proprietary identifier as agreed with the counterparty. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Coll" type="MarginCollateralReport4__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Collateral</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information related to collateral agreement existing between counterparties.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstdMrgnOrColl" type="PostedMarginOrCollateral6__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostedMarginOrCollateral</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information on posted collateral and margin.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RcvdMrgnOrColl" type="ReceivedMarginOrCollateral6__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReceivedMarginOrCollateral</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information on received collateral and margin.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max52Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max52Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 52 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="52"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max72Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max72Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 72 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="72"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NaturalPersonIdentification2__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NaturalPersonIdentification2__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies a natural person through identification number, name and domicile.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="GenericIdentification175__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of the natural person.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NaturalPersonIdentification3__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NaturalPersonIdentification3__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies a natural person through identification number, name and domicile.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="NaturalPersonIdentification2__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of the natural person.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NotApplicable1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NotApplicable1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies special purpose codes.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="0"/>
            <xs:maxLength value="4"/>
            <xs:enumeration value="NOAP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotApplicable</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Not applicable (N/A).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Number</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as an integer.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrganisationIdentification15Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OrganisationIdentification15Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the identification of the organisation.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="LEI" type="LEIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LEI</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification is done through the use of legal entity identifier code.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification248Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification248Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the identification of the organisation.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Lgl" type="LegalPersonIdentification1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Legal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party is a legal person.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification248Choice__2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification248Choice__2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the identification of the organisation.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Lgl" type="LegalPersonIdentification1__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Legal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party is a legal person.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ntrl" type="NaturalPersonIdentification3__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Natural</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party is a natural person.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PortfolioCode3Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PortfolioCode3Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Element is a choice between a known portfolio code and a code applicable when the code is unknown.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="Max52Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique code determined by the reporting counterparty to identify the portfolio if collateral is reported on a portfolio basis.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NoPrtfl" type="NotApplicable1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NoPortfolio</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Collateralisation was performed on a transaction level basis or if the collateral portfolio code is not known at the time of reporting.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PostedMarginOrCollateral6__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PostedMarginOrCollateral6__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information on the posted margin or collateral of the transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlMrgnPstdPreHrcut" type="ActiveOrHistoricCurrencyAnd5DecimalAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InitialMarginPostedPreHaircut</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Value of the initial margin posted by the reporting counterparty to the other counterparty.&#13;
Where initial margin is posted on a portfolio basis, this field should include the overall value of initial margin posted for the portfolio.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlMrgnPstdPstHrcut" type="ActiveOrHistoricCurrencyAnd5DecimalAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InitialMarginPostedPostHaircut</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Value of the initial margin posted by the reporting counterparty to the other counterparty.&#13;
Where initial margin is posted on a portfolio basis, this field should include the overall value of initial margin posted for the portfolio.&#13;
Post-haircut values of margins depend on associated risk of changes in collateral value and therefore on the nature of the collateral posted (or collected).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="VartnMrgnPstdPreHrcut" type="ActiveOrHistoricCurrencyAnd5DecimalAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">VariationMarginPostedPreHaircut</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Value of the variation margin posted, including cash settled, by the reporting counterparty to the other counterparty.&#13;
Where variation margin is posted on a portfolio basis, this field should include the overall value of variation margin posted for the portfolio.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="VartnMrgnPstdPstHrcut" type="ActiveOrHistoricCurrencyAnd5DecimalAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">VariationMarginPostedPostHaircut</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Value of the variation margin posted, including cash settled, by the reporting counterparty to the other counterparty.&#13;
Where variation margin is posted on a portfolio basis, this field should include the overall value of variation margin posted for the portfolio.&#13;
Post-haircut values of margins depend on associated risk of changes in collateral value and therefore on the nature of the collateral posted (or collected).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="XcssCollPstd" type="ActiveOrHistoricCurrencyAnd5DecimalAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExcessCollateralPosted</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Value of collateral posted in excess of the required collateral.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReceivedMarginOrCollateral6__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReceivedMarginOrCollateral6__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information on the received margin or collateral of the transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlMrgnRcvdPreHrcut" type="ActiveOrHistoricCurrencyAnd5DecimalAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InitialMarginReceivedPreHaircut</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Value of the initial margin received by the reporting counterparty from the other counterparty.&#13;
Where initial margin is received on a portfolio basis, this field should include the overall value of initial margin received for the portfolio.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlMrgnRcvdPstHrcut" type="ActiveOrHistoricCurrencyAnd5DecimalAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InitialMarginReceivedPostHaircut</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Value of the initial margin received by the reporting counterparty from the other counterparty.&#13;
Where initial margin is received on a portfolio basis, this field should include the overall value of initial margin received for the portfolio.&#13;
Post-haircut values of margins depend on associated risk of changes in collateral value and therefore on the nature of the collateral posted (or collected).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="VartnMrgnRcvdPreHrcut" type="ActiveOrHistoricCurrencyAnd5DecimalAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">VariationMarginReceivedPreHaircut</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Value of the variation margin received, including cash settled, by the reporting counterparty from the other counterparty. &#13;
Where variation margin is received on a portfolio basis, this field should include the overall value of variation margin received for the portfolio.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="VartnMrgnRcvdPstHrcut" type="ActiveOrHistoricCurrencyAnd5DecimalAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">VariationMarginReceivedPostHaircut</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Value of the variation margin received, including cash settled, by the reporting counterparty from the other counterparty. &#13;
Where variation margin is received on a portfolio basis, this field should include the overall value of variation margin received for the portfolio.&#13;
Post-haircut values of margins depend on associated risk of changes in collateral value and therefore on the nature of the collateral posted (or collected).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="XcssCollRcvd" type="ActiveOrHistoricCurrencyAnd5DecimalAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExcessCollateralReceived</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Value of collateral received in excess of the required collateral.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ReportPeriodActivity1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReportPeriodActivity1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of report activity for a specific reporting period.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="NOTX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NoTransaction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">No transaction has been identified during the period.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradeCounterpartyReport20__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TradeCounterpartyReport20__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to parties in the contract.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RptgCtrPty" type="Counterparty45__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportingCounterparty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the counterparty to a derivative transaction who is fulfilling its reporting obligation in the present report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OthrCtrPty" type="Counterparty46__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OtherCounterparty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the other counterparty to a derivative transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SubmitgAgt" type="OrganisationIdentification15Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubmittingAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the party that ultimately submits the report to the trade repository.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="NttyRspnsblForRpt" type="OrganisationIdentification15Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EntityResponsibleForReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">According to jurisdictional requirements, identification of the entity with the legal obligation or responsibility to report.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeCounterpartyReport20__2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TradeCounterpartyReport20__2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to parties in the contract.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RptgCtrPty" type="Counterparty45__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportingCounterparty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the counterparty to a derivative transaction who is fulfilling its reporting obligation in the present report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OthrCtrPty" type="Counterparty46__2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OtherCounterparty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the other counterparty to a derivative transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SubmitgAgt" type="OrganisationIdentification15Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubmittingAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the party that ultimately submits the report to the trade repository.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="NttyRspnsblForRpt" type="OrganisationIdentification15Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EntityResponsibleForReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">According to jurisdictional requirements, identification of the entity with the legal obligation or responsibility to report.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeData55Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TradeData55Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of data concerning the reporting trade.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="DataSetActn" type="ReportPeriodActivity1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DataSetAction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Where no reporting data are available, this field should be set so that a valid reference data file can be submitted to the competent authority as per submission requirements.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="100000" minOccurs="1" name="Rpt" type="TradeReport31Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Report</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information concerning the reporting at transaction level.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradeReport31Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TradeReport31Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides details on the reported trade transactions.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="MrgnUpd" type="MarginReportData7__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MarginUpdate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the report of the collateral data or of their modifications, but not the corrections of the previously reported collateral details.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Crrctn" type="MarginReportData7__2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Correction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates that the report is correcting the erroneous data fields of a previously submitted position.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradeReportHeader4__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TradeReportHeader4__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the details of the header for a trade transaction query message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="NbRcrds" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NumberRecords</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the number of records in the page.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="UTIIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UTIIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique Transaction Identifier (UTI). Unique number allocated to a financial transaction as agreed among the parties and/or within the regulatory system under which it is formed. The UTI is described in the latest edition of the international standard ISO 23897:2020.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18}[0-9]{2}[A-Z0-9]{0,32}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UniqueTransactionIdentifier2Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UniqueTransactionIdentifier2Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Element is a choice between a standard identifier and a proprietary code.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="UnqTxIdr" type="UTIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UniqueTransactionIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique trade identifier (UTI) as agreed with the counterparty.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="GenericIdentification175__2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade identifier expressed in a proprietary notation.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="UniqueTransactionIdentifier2Choice__2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UniqueTransactionIdentifier2Choice__2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Element is a choice between a standard identifier and a proprietary code.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="UnqTxIdr" type="UTIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UniqueTransactionIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique trade identifier (UTI) as agreed with the counterparty.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="GenericIdentification175__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade identifier expressed in a proprietary notation.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
</xs:schema>
