schemas/MAS_Rewrite-_Derivatives_Trade_Reporting_auth_108_001_02_MASUG_DATMDA_1_0_0_20240905_0602_iso15.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2016. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: DTCC - Repository and Derivatives Services
Collection: MAS Rewrite - Derivatives Trade Reporting (Version 4)
Usage Guideline: auth.108.001.02_MASUG_DATMDA_1.0.0
Base Message: auth.108.001.02
Date of publication: 30 August 2024
URL: https://www2.swift.com/mystandards/#/mp/mx/_8FagMCxmEe-lLZlQMV93jQ/_8JoS2CxmEe-lLZlQMV93jQ
Description: The DerivativesTradeMarginDataReport message is sent by the report submitting entity to the trade repository (TR) to report the margins exchanged in relation to the derivative transactions or sent by the trade repository (TR) to the authority or made available by the trade repository (TR) to the report submitting entity and the reporting counterparty as well as the entity responsible for reporting, if applicable.
Generated by the MyStandards web platform [https://www.swift.com/mystandards] on 2024-09-05T06:02:01+00:00
-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.108.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.108.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAnd5DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="25"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAnd5DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAnd5DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="CollateralPortfolioCode6Choice__1">
        <xs:choice>
            <xs:element name="MrgnPrtflCd" type="MarginPortfolio4__1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CollateralisationType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FLCL"/>
            <xs:enumeration value="OWCL"/>
            <xs:enumeration value="OWC1"/>
            <xs:enumeration value="OWC2"/>
            <xs:enumeration value="OWP1"/>
            <xs:enumeration value="OWP2"/>
            <xs:enumeration value="PRCL"/>
            <xs:enumeration value="PRC1"/>
            <xs:enumeration value="PRC2"/>
            <xs:enumeration value="UNCL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Counterparty45__1">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification248Choice__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Counterparty46__1">
        <xs:sequence>
            <xs:element name="IdTp" type="PartyIdentification248Choice__2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DerivativesTradeMarginDataReportV02">
        <xs:sequence>
            <xs:element name="RptHdr" type="TradeReportHeader4__1"/>
            <xs:element name="TradData" type="TradeData61Choice__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="DerivsTradMrgnDataRpt" type="DerivativesTradeMarginDataReportV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification175__1">
        <xs:sequence>
            <xs:element name="Id" type="Max72Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LegalPersonIdentification1__1">
        <xs:sequence>
            <xs:element name="Id" type="OrganisationIdentification15Choice__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LegalPersonIdentification1__2">
        <xs:sequence>
            <xs:element name="Id" type="OrganisationIdentification15Choice__2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarginCollateralReport5__1">
        <xs:sequence>
            <xs:element name="CollPrtflCd" type="CollateralPortfolioCode6Choice__1"/>
            <xs:element name="CollstnCtgy" type="CollateralisationType3Code"/>
            <xs:element name="TmStmp" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarginPortfolio4__1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlMrgnPrtflCd" type="PortfolioCode5Choice__1"/>
            <xs:element name="VartnMrgnPrtflCd" type="PortfolioCode5Choice__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarginReportData9__1">
        <xs:sequence>
            <xs:element name="RptgTmStmp" type="ISODateTime"/>
            <xs:element name="CtrPtyId" type="TradeCounterpartyReport20__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxId" type="UniqueTransactionIdentifier2Choice__1"/>
            <xs:element name="Coll" type="MarginCollateralReport5__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstdMrgnOrColl" type="PostedMarginOrCollateral6__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcvdMrgnOrColl" type="ReceivedMarginOrCollateral6__1"/>
            <xs:element name="TechAttrbts" type="TechnicalAttributes6__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max52Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="52"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max72Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="72"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NaturalPersonIdentification2__1">
        <xs:sequence>
            <xs:element name="Id" type="GenericIdentification175__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NaturalPersonIdentification3__1">
        <xs:sequence>
            <xs:element name="Id" type="NaturalPersonIdentification2__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NotApplicable1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="0"/>
            <xs:maxLength value="4"/>
            <xs:enumeration value="NOAP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrganisationIdentification15Choice__1">
        <xs:choice>
            <xs:element name="LEI" type="LEIIdentifier"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentification15Choice__2">
        <xs:choice>
            <xs:element name="LEI" type="LEIIdentifier"/>
            <xs:element name="Othr" type="OrganisationIdentification38__1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentification38__1">
        <xs:sequence>
            <xs:element name="Id" type="GenericIdentification175__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification248Choice__1">
        <xs:choice>
            <xs:element name="Lgl" type="LegalPersonIdentification1__1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification248Choice__2">
        <xs:choice>
            <xs:element name="Lgl" type="LegalPersonIdentification1__2"/>
            <xs:element name="Ntrl" type="NaturalPersonIdentification3__1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PortfolioCode5Choice__1">
        <xs:choice>
            <xs:element name="Prtfl" type="PortfolioIdentification3__1"/>
            <xs:element name="NoPrtfl" type="NotApplicable1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PortfolioIdentification3__1">
        <xs:sequence>
            <xs:element name="Cd" type="Max52Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostedMarginOrCollateral6__1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlMrgnPstdPreHrcut" type="ActiveOrHistoricCurrencyAnd5DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlMrgnPstdPstHrcut" type="ActiveOrHistoricCurrencyAnd5DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VartnMrgnPstdPreHrcut" type="ActiveOrHistoricCurrencyAnd5DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VartnMrgnPstdPstHrcut" type="ActiveOrHistoricCurrencyAnd5DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XcssCollPstd" type="ActiveOrHistoricCurrencyAnd5DecimalAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReceivedMarginOrCollateral6__1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlMrgnRcvdPreHrcut" type="ActiveOrHistoricCurrencyAnd5DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlMrgnRcvdPstHrcut" type="ActiveOrHistoricCurrencyAnd5DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VartnMrgnRcvdPreHrcut" type="ActiveOrHistoricCurrencyAnd5DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VartnMrgnRcvdPstHrcut" type="ActiveOrHistoricCurrencyAnd5DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XcssCollRcvd" type="ActiveOrHistoricCurrencyAnd5DecimalAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ReportPeriodActivity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NOTX"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TechnicalAttributes6__1">
        <xs:sequence>
            <xs:element name="TechRcrdId" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptRctTmStmp" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeCounterpartyReport20__1">
        <xs:sequence>
            <xs:element name="RptgCtrPty" type="Counterparty45__1"/>
            <xs:element name="OthrCtrPty" type="Counterparty46__1"/>
            <xs:element name="SubmitgAgt" type="OrganisationIdentification15Choice__1"/>
            <xs:element name="NttyRspnsblForRpt" type="OrganisationIdentification15Choice__1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExctnAgt" type="OrganisationIdentification15Choice__1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeData61Choice__1">
        <xs:choice>
            <xs:element name="DataSetActn" type="ReportPeriodActivity1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rpt" type="TradeReport34Choice__1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradeReport34Choice__1">
        <xs:choice>
            <xs:element name="MrgnUpd" type="MarginReportData9__1"/>
            <xs:element name="Crrctn" type="MarginReportData9__1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradeReportHeader4__1">
        <xs:sequence>
            <xs:element name="NbRcrds" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="UTIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18}[0-9]{2}[A-Z0-9]{0,32}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UniqueTransactionIdentifier2Choice__1">
        <xs:choice>
            <xs:element name="UnqTxIdr" type="UTIIdentifier"/>
            <xs:element name="Prtry" type="GenericIdentification175__1"/>
        </xs:choice>
    </xs:complexType>
</xs:schema>
